.login, .loginh1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.login {
    width: 400px; 
    padding: 20px; 
    box-shadow: 0 0 0 1.1em #b65f0e;
    border-radius: 8px; 
    margin: 0 auto; 
    background-color: #4456B9;
  }

.loginh1 {
    font-size: 50px;
    padding: 4px;
    margin-top: 0px;
}

#login {
    background-color: white;
    width: 420px;
    height: 5vh;
    border-radius: 15px;
    font-size: 20px;
    top: 100px;

}

#login:hover {
    background-color: green;
    transition-duration: 0.5s;
    
}

#bodyLog {
    height: 92vh;
}
