* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Poppins", sans-serif; */
}
#loginDiv {
  background-color: rgb(42 42 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-image: url("../../../src/assets/img.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.login,
.loginh1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.login {
  padding: 30px;
  border-radius: 8px;
  margin: 0 auto;
  background-color: #36343469;
  box-shadow: 14px 14px 20px rgba(54, 54, 54, 0.376)
}



input {
  box-shadow: inset 6px 6px 6px #CBCED1, inset -6px -6px 6px white;
  background: hwb(40 96% 0% / 0.973);
}

.loginh1 {
  font-size: 50px;
  padding: 4px;
  margin-bottom: 40px;
}

#login {
  color: #fff;
  background-image: linear-gradient(
    to left,
    rgba(117, 40, 156, 0.412),
    #764ba2,
    #6b8dd6
  );
  width: 420px;
  height: 5vh;
  border-radius: 15px;
  font-size: 20px;
  top: 100px;
  border: none;
}

#login:hover {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  transition-duration: 0.5s;
  color: aliceblue;
}

#bodyLog {
  height: 92vh;
}
.box {
  background: rgb(255 255 255 / 34%);
  backdrop-filter: blur(20px);
  padding: 60px 80px;
  min-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 14px 14px 20px #CBCED1, -14px -14px 20px white;
}


.login-footer {
  font-size: 24px;
  margin-top: 20px;
}

