.login, .loginh1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginh1 {
    font-size: 50px;
}

#login {
    width: 420px;
    height: 5vh;
    border-radius: 15px;
    font-size: 20px;
    top: 100px;
}

#login:hover {
    background-color: green;
    transition-duration: 0.5s;
    
}

#bodyLog {
    height: 90vh;
}
