.note-container{
    padding: 2em;

    background-color: #353434;
    /* background-image: url("../../../src/assets/img.jpg"); */
}

/* .wholeForm {
    box-shadow: 14px 14px 20px rgba(54, 54, 54, 0.376);
    margin-left: 300px;
    margin-right: 300px;
} */

.optionSection {
    display: flex;
    justify-content: space-between;
    border: 1px solid; 
    padding: 1em 6em;
    /* display: flex;
    justify-content: center; */
}



#backBtn, #deleteBtn {
height: 50px; 
}

#deleteBtn {
    width: 100px;
    


}
