.note-container{
    padding: 2em;
    background-color: #fee0fd;
    /* background-image: url("../../../src/assets/img.jpg"); */
}

/* .wholeForm {
    box-shadow: 14px 14px 20px rgba(54, 54, 54, 0.376);
    margin-left: 300px;
    margin-right: 300px;
} */

.optionSection {
    display: flex;
    justify-content: center;
}

#backBtn {
    width: 100px;
}

#deleteBtn {
    width: 50px;
    margin-left: 20px;

}
