.update {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.update {
    border-radius: 20px;
    font-size: 2cap;
}

#email, #password, #name, #confirmPassword {
    padding: 10px;
    width: 400px;
}

#updateb{
    width: 420px;
    height: 5vh;
    border-radius: 15px;
    font-size: 20px;
    top: 100px;
    background-color: white;
    padding: 10px;

}

#updateb:hover {
    background-color: green;
    transition-duration: 0.5s;
    
}


