 @import url('https://fonts.cdnfonts.com/css/library-records');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


h1,
p,
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

ul li {
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 50px;
  padding-top: 3%;
}

.homepage {
  height: 100vh;
  background-image: url("../../../src/assets/img.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 19px;
}

.nav-links a {
  color: #4456b9;
  text-decoration: none;
}

.nav-links a:hover {
  margin-bottom: 1px;
  text-decoration-thickness: 3px;
  color: #fff;
  background-color: #838486;
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 6px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-right: 20px;
}

/* .button-4 {
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 35px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
} */

.button-4:hover {
  background-color: #838486;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

/* .button-4:hover {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
} */

.button-4:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: none;
  /* outline: 1px transparent; */
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

/* btn styling */
#homepageBtn1,
#homepageBtn2 {
  width: 15%;
  padding: 15px;
  background-image: linear-gradient(
    to left,
    rgba(117, 40, 156, 0.412),
    #764ba2,
    #6b8dd6
  );
  height: 5vh;
  border-radius: 15px;
  font-size: 20px;
  border: none;
  transition: all 0.4s ease-in-out;
  padding-bottom: 35px;
}

#homepageBtn1:hover {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 5px 0 rgba(116, 79, 168, 0.75);
  transition: all 0.4s ease-in-out;
}
#homepageBtn2:hover {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 5px 0 rgba(116, 79, 168, 0.75);
  transition: all 0.4s ease-in-out;
}

#homepageBtn1 a {
  text-decoration: none;
  color: #fff;
}
#homepageBtn2 a {
  text-decoration: none;
  color: #fff;
}

/* cant apply now but in feuture
.btn {
  padding: 15px;
  background-image: linear-gradient(
    to left,
    rgba(117, 40, 156, 0.412),
    #764ba2,
    #6b8dd6
  );
  height: 5vh;
  border-radius: 15px;
  font-size: 20px;
  border: none;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 5px 0 rgba(116, 79, 168, 0.75);
  transition: all 0.4s ease-in-out;
}

.btn a {
  text-decoration: none;
  color: #fff;
} */

.homeLogo1 {
  width: 300px;
  height: 300px;
}

.homeLogo {
  margin-left: 800px;
}

#thanksMessage {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.noteworthy {
  font-family: 'Library Records', sans-serif;
  color: gold;
}
