h1,p, ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    
}

h1 {
    font-size: 50px;
}

/* body {
    background-color: #2a2a2a;
 
} */

.homepage {
    background-color: #B65F0E;
    height: 92vh;
    background-image: url('../../../src/assets/img.jpg');
    background-position: center top; 
    background-repeat: no-repeat;
    background-size: cover;
}
