nav {
    display: flex;
    padding: 6px;
    justify-content: right;
    align-items: center;
    background: #30AB9C;
    color: white;

  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 19px;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: #4456B9;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    margin-bottom: 1px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-position: under;
    text-decoration-color: darkblue;
  }
