.register, .registerh1, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.register {
    width: 400px; 
    padding: 20px; 
    box-shadow: 1px 1px 1px 5px #b65f0e;
    margin: 0 auto; 
    background-color: #4456B9;
  }

  .register input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
  }

.registerh1 {
    font-size: 50px;
    padding: 4px;
    margin-top: 0px;
}

.register {
    border-radius: 20px;
    font-size: 2cap;
}

#email, #password, #name, #confirmPassword {
    padding: 10px;
    width: 400px;
}

#register {
    width: 420px;
    height: 5vh;
    border-radius: 15px;
    font-size: 20px;
    top: 100px;
    background-color: white;
    padding: 10px;

}

#register:hover {
    background-color: green;
    transition-duration: 0.5s;
    
}

#registerdiv {
    height: 92vh;

}




