* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.folderSideBar {
  height: 100vh;
  width: 100%;
  background-color: #fee0fd;
  display: flex;
  /* flex-direction: row; */
}

.sidebar {
  width: 20vw;
  /* border: 1px solid lightpink; */
  position: sticky;
  top: 0;
  background-color: #363434;
}

.notes-section{
  flex: 1; 
  overflow-y: auto;
  overflow-x: hidden;
}
.resizer {
  width: 5px;
  top: 0;
  right: 0;
  cursor: col-resize;
  height: 100%;
  position: absolute;
  /* background-color: lightpink; */
  background-color: #353434;
}

.header {
  padding: 1em;
  text-align: center;

  /* background-color: pink; */
  background-color: #353434;
}

.header input {
  border-radius: 5px;
  border: 1px #333;
}

.sidebar-content {
  height: 300px; /* Set the desired fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
}
.addBtn {
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  color: #24292e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 6px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  margin-right: 20px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

ul {
  padding: 11px 0px;
  list-style: none;
}

ul li {
  cursor: pointer;
  font-weight: 500;
}

ul li:hover {
  background-color: rgba(100, 96, 96, 0.8);
}

.sidebar-menu {
  overflow: auto;
  display: flex;
  flex-direction: column;
  line-height: 3;
  background-color: #363434;
  padding-left: 20px;
}

.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 90%;
  text-align: center;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  color: white;
}

.menu-item:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.menu-item span {
  flex: 1;
}

.menu-item:nth-child(1):before {
  background-color: #d04664;
}

.menu-item:nth-child(2):before,
.menu-item:nth-child(8):before,
.menu-item:nth-child(14):before {
  background-color: #3498db;
}

.menu-item:nth-child(3):before,
.menu-item:nth-child(9):before,
.menu-item:nth-child(15):before {
  background-color: #2ecc71;
}

.menu-item:nth-child(4):before,
.menu-item:nth-child(10):before,
.menu-item:nth-child(16):before {
  background-color: #f39c12;
}

.menu-item:nth-child(5):before,
.menu-item:nth-child(11):before,
.menu-item:nth-child(17):before {
  background-color: #e74c3c;
}

.menu-item:nth-child(6):before,
.menu-item:nth-child(12):before,
.menu-item:nth-child(18):before {
  background-color: #1abc9c;
}

.createFolder {
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.deleteBtn {
  width: 24px;
  height: 24px;
  background-color: transparent;
}

#trashEmoji {
  color: white;
}
